/* CSS général , all devices */

//Colors
$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$Light-Grey: hsl(217, 12%, 63%);
$Medium-Grey: hsl(216, 12%, 54%);
$Dark-Blue: hsl(213, 19%, 18%);
$Very-Dark-Blue: hsl(216, 12%, 8%);

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Overpass", sans-serif;
  background-color: black;
}

p {
  color: $Light-Grey;
  font-size: 15px;
}

h1 {
  color: $White;
  font-size: 28px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $Very-Dark-Blue;
  width: 408px;
  height: 416px;
  border: none;
  border-radius: 25px;
  padding: 34px;
  margin: 30px;
}

/* CSS Rating state start */

.circle-icon {
  background: $Dark-Blue;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 10px;
  position: relative;
}

.star-icon {
  position: absolute;
  left: 15px;
  top: 14px;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating-icon {
  color: $White;
  background: $Dark-Blue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 10px;
  position: relative;
  margin-top: 30px;
  cursor: pointer;
  z-index: 1;
  &:active,
  &:focus {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $Light-Grey;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
}

.rating-icon:hover {
  background-color: $Orange;
}

.rating-rank {
  font-weight: bold;
  position: relative;
  top: -34px;
}

.btn {
  background-color: $Orange;
  color: $White;
  font-size: 18px;
  width: 340px;
  height: 45px;
  border-radius: 40px;
  cursor: pointer;
  margin: auto;
}

.btn:hover {
  background-color: $White;
  color: $Orange;
}

.attribution {
  color: $Light-Grey;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* CSS Thank you state start */

#modal_thank_you {
  display: none;
  align-items: center;
  text-align: center;
}

.rating-result {
  background-color: $Dark-Blue;
  color: $Orange;
  width: 190px;
  height: 30px;
  border-radius: 40px;
  cursor: pointer;
  margin: auto;
  padding: 10px 15px;
}

.img-card {
  width: 162px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.thank-you {
  margin-top: 40px;
}

/* CSS Mobile */

@media screen and (max-width: 376px) {
  .card {
    width: 325px;
    height: 359px;
    border-radius: 20px;
    padding: 20px;
  }
  .img-card {
    width: 130px;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 23.5px;
  }

  p {
    font-size: 14px;
  }

  .rating-icon {
    width: 40px;
    height: 40px;
  }

  .star-icon {
    width: 15px;
    height: 14px;
  }

  .rating-rank {
    font-weight: bold;
    position: relative;
    top: -38px;
  }

  .rating-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }

  .btn {
    font-size: 16px;
    width: 279px;
  }
}
