@charset "UTF-8";
/* CSS général , all devices */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Overpass", sans-serif;
  background-color: black;
}

p {
  color: hsl(217deg, 12%, 63%);
  font-size: 15px;
}

h1 {
  color: hsl(0deg, 0%, 100%);
  font-size: 28px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(216deg, 12%, 8%);
  width: 408px;
  height: 416px;
  border: none;
  border-radius: 25px;
  padding: 30px;
  margin: 30px;
}

/* CSS Rating state start */
.circle-icon {
  background: hsl(213deg, 19%, 18%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 10px;
  position: relative;
}

.star-icon {
  position: absolute;
  left: 15px;
  top: 14px;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating-icon {
  color: hsl(217deg, 12%, 63%);
  background: hsl(213deg, 19%, 18%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 10px;
  position: relative;
  margin-top: 30px;
  cursor: pointer;
  z-index: 1;
}
.rating-icon:active::after, .rating-icon:focus::after {
  opacity: 1;
}
.rating-icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsl(217deg, 12%, 63%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.rating-icon:hover {
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
}

.rating-rank {
  font-weight: bold;
  position: relative;
  top: -34px;
}

.btn {
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
  font-size: 18px;
  width: 340px;
  height: 45px;
  border-radius: 40px;
  cursor: pointer;
  margin: auto;
}

.btn:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(25deg, 97%, 53%);
}

.attribution {
  color: hsl(217deg, 12%, 63%);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/* CSS Thank you state start */
.thank-you {
  align-items: center;
  text-align: center;
}

.rating-result {
  background-color: hsl(213deg, 19%, 18%);
  color: hsl(25deg, 97%, 53%);
  width: 190px;
  height: 30px;
  border-radius: 40px;
  cursor: pointer;
  margin: auto;
  padding-top: 7px;
}

.img-card {
  width: 162px;
  height: auto;
  margin: 10px;
}

/* CSS Mobile */
@media screen and (max-width: 376px) {
  .card {
    width: 325px;
    height: 359px;
    border-radius: 20px;
    padding: 20px;
  }
  h1 {
    font-size: 23.5px;
  }
  p {
    font-size: 14px;
  }
  .rating-icon {
    width: 40px;
    height: 40px;
  }
  .star-icon {
    width: 15px;
    height: 14px;
  }
  .rating-rank {
    font-weight: bold;
    position: relative;
    top: -38px;
  }
  .rating-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }
  .btn {
    font-size: 16px;
    width: 279px;
  }
}/*# sourceMappingURL=style.css.map */